*{
    margin: 0;/*відступи ззовні*/
    padding: 0;/*відступи всередині*/
    font-size: 16px;
    font-weight: normal;
    list-style: none;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    margin: 13px auto 15px;
}

.header_ol{
    display: flex;
    gap: 62px;
}

.header_link{
    font-size: 14px;
    line-height: 14px;
    color: #1C1C1C;
    text-decoration: none;/*відключення підкреслення тексту*/
}
.button{
    height: 40px;
    width: 157px;
    border-radius: 20px;
    background: #6F2CFF;
    border: none;/*відключення рамки по периметру кнопки*/
    font-size: 14px;
    line-height: 14px;/*положення тексту у кнопці*/
    color: #FFFFFF;
}

.button:hover{ /*псевдоклас*/
    background: #7d5fc2; /*зміна кольору анімація*/
    transform: 2s;/*тривалість анімації при наведенні*/
    cursor: pointer;/*зміна курсору на 'рука'*/
}


.main{
    background: #F6BED9;
    padding: 58px 0 59px;
}

.main_title{
    font-weight: 700;
    font-size: 54px;
    line-height: 61px;
    max-width: 470px;
}

.main_title_violet{
    color: #6F2DFF;
}

.main_text{
    font-size: 18px;
    line-height: 30px;
    max-width: 438px;
    margin: 18px 0;
}

.main_text_bolt{
    font-weight: bold; /*жирний шрифт*/
}

.main_input{
    height: 45px;
    width: 268px;
    border: 1px solid #6F2CFF;
    border-radius: 28px;
    padding-left: 26px;
}
.main_input::placeholder{/*псевдоклас*/
    font-size: 15px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.27);
}

.main_input:focus{/*псевдоклас*/
    outline: none; /*прибираємо обводку по периметру, під час введення email*/
}


.main_button{
    height: 45px;
    width: 187px;
    margin-left: 9px;
}








.grow{
    margin: 136px auto;
}

.grow_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #1C1C1C;
    max-width: 415px;
}

.grow_flex{
    display: flex;
    gap: 34px;
}


.grow_element{
    max-width: 333px;
    text-align: center;
}

.grow_item{
    padding: 35px 0 85px;
    box-shadow: 0px 2px 4px rgba(192, 192, 192, 0.5); /*рамка з тінню*/
    border-radius: 0px 0px 7px 7px;/*радіус рамки з тінню*/
}

.grow_pretitle{
    font-size: 26px;
    line-height: 22px;
    margin-bottom: 28px;
}

.grow_text{
    font-size: 18px;
    line-height: 22px;
    color: #6F2CFF;
    max-width: 219px; /*ширина блоку*/
    margin: 0 auto;
}





.commerce{
    margin-bottom: 140px;
}
.commerce_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    margin-top: 31px;
    margin-bottom: 80px;
}

.commerce_flex{
    display: flex;
    gap: 150px;
}

.commerce_element{
    max-width: 316px;
    text-align: center;
}

.commerce_img{
    margin-bottom: 42px;
}

.commerce_pretitle{
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 16px;
}

.commerce_text{
    font-size: 15px;
    line-height: 22px;
}





.footer{
    background-color: #20003C;
    padding: 58px 0;
 }

 .footer_ol{
    display: flex;
    gap: 62px;
 }


.footer_link{
    font-weight: 700;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}